<footer class="app-footer p-d-flex p-jc-between p-ai-center p-p-3">
  <!-- Nome do site -->
  <span class="footer-title">Barbershop</span>

  <!-- Redes sociais -->
  <div class="social-buttons p-d-flex p-ai-center p-gap-2">
    <button
      pButton
      type="button"
      icon="pi pi-facebook"
      class="p-button-rounded p-button-text p-button-info"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-instagram"
      class="p-button-rounded p-button-text p-button-danger"
    ></button>
  </div>
</footer>
